<h1> Appointment Information: </h1>
<h3> Patient Name: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></h3>
<h3> Doctor Name: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></h3>
<h3> Date and Time: <%= (@appointment.appointment_datetime).strftime("%B %e, %Y at %H:%M") %></h3>